extends layout

block styles
  link(rel='stylesheet', href='/styles/home.css')

block content
  .hero
    h1= title
    p= description
    .button-group
      a.cta-button(href="/userlist") Find a Buddy
      a.cta-button.register-button(href="/register") Register Now

  .features
    .feature-card
      h3 Find Partners
      p Connect with people who share your fitness interests and goals.
    
    .feature-card
      h3 Explore Your Area
      p Access maps to find the best sports in your area.
    
    .feature-card
      h3 Get Points
      p Earn points after every journey to unlock titles.
  