extends layout

block styles
  link(rel='stylesheet', href='/styles/home.css')

block content
  .hero
    h1= title
    p= description
    a.cta-button(href="/userlist") Find a Buddy

  .features
    .feature-card
      h3 Find Partners
      p Connect with people who share your fitness interests and goals.
    
    .feature-card
      h3 Track Activities
      p Keep track of your workouts and share them with your buddies.
    
    .feature-card
      h3 Join Events
      p Participate in group activities and make new friends. 