doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      .nav-link {
        font-family: Arial, sans-serif !important;
        font-weight: normal !important;
      }
    block styles
  body
    nav.navbar
      .nav-container
        if isLoggedIn
          a.nav-link(href='/profile') My Profile
          a.nav-link(href='/userlist') Find Buddies
          a.nav-link(href='/routes') Maps
          a.nav-link(href='/messages') Messages
          a.nav-link(href='/notifications') Notifications
          a.nav-link(href='/logout') Log Out
        else
          a.nav-link(href='/') Home
          a.nav-link(href='/login') Login
          a.nav-link(href='/register') Register
    .container
      block content
    
    block scripts