doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      .nav-link {
        font-family: Arial, sans-serif !important;
        font-weight: normal !important;
      }
    block styles
  body
    nav.navbar
      .nav-container
        if isLoggedIn
          a.nav-link(href='/logout') Log Out
        else
          a.nav-link(href='/') Home
    .container
      block content